PORT=3000
MONGODB_URI=mongodb://localhost:27017/pmu-horses
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
JWT_SECRET=a7e43526890123f456789abcdef0123456789abcdef0123456789abcdef01234
SPORTSDB_API_KEY=3
SPORTSDB_API_URL=https://www.thesportsdb.com/api/v1/json